langchain==0.1.14
langchain-community==0.0.34
chromadb==0.4.22
sentence-transformers==2.2.2
langchain_google_genai==1.0.2
GitPython
python-box==6.0.2
python-dotenv==1.0.1
PyYAML
pyaml
Flask
Flask-Cors
ensure
tqdm
unstructured
-e.